button{
                background:none;
                border:0px solid#000;
                color:#4285F4;
            }
            .active{
                font-weight: 500;
                color:#7b35f2;
                

            }
            #searchRecommend{
                overflow-y:auto; 
            }
            body{
                overflow-y:auto; 
            }
            #predictionPlace{
                width:90%;
                height:20px;
                border-radius: 10px;
                display:grid;
                grid-template-columns: 10% 90%;

            }
            #buy{
                height:10px;
                width:100%;
                background:rgb(89, 250, 2,0.7);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding-left:4px;

            }
            #sell{
                height:10px;
                width:100%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                background:rgb(245, 15, 26,0.7);
                padding-left:4px;
            }
            .titleGrid{

                width:10%;
                display: grid;
                grid-template-columns: auto auto;

            }
            .titleGrid button{
                background:none;
                border:0px;
                width:30px;
                color:gray;
                transition: 0.2s;
                color:gray;
                font-size:15px;
                margin-top:10px;
            }
            .hidden{
                opacity: 0;
                z-index:-1;
                transition:0.3s;
            }
            .blackout{
                position:fixed;
                top:0px;
                left:0px;
                width:100%;
                height:100vh;

                background: rgb(0,0,0,0.5);
                transition: 0.5s
            }
            .popup{
                position:fixed;
                width:80%;
                text-align:center;
                max-width:50vh;
                height:40vh;
                background:white;
                top:30vh;
                bottom:30vh;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
                transition: 0.5s;
                padding:15px;
            }
            .transparent{
                background:none;
                border:0px;
            }
            .close{
                position:relative;
                left:5px;
                top:5px;
            }
            .bottomButton{
                position: relative;
                width:50%;

                top:10vh;

                   
            }
            label{
                text-align:left;
                width:100%;
            }