<!doctype html>
<html lang="en-US">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXFPT2TM2X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YXFPT2TM2X');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <title>{{title}} - Kentel</title>
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link href="https://fonts.cdnfonts.com/css/euclid-circular-b" rel="stylesheet">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="Kentel Blog" />
    <meta property="og:image" content="//kentel.dev/static/images/kentel_300x200.png" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:type" content="article" />

    <meta name="description" content="{{data['description']}}">
    <meta name="keywords" content="Kentel, AI, stock predictions, finance technology, stock market, artificial intelligence,kentel blog,{{title}}">

    
  </head>

  <body> 
    
  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="/#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    
    <div  class="img-fluid nav-logo-mobile" alt="Kentel">
      <b class="kentelText" onclick="window.location.assign('/')">Kentel <b style="color:rgb(20, 118, 246)">Blog</b></b>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<div  class="mything" alt="Kentel">
          <b   class="kentelText" onclick="window.location.assign('/')">Kentel <b style="color:rgb(20, 118, 246)">Blog</b></b>
        </div>
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/#marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/login">Sign In <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link btn btn-demo-small">
            <a class="nav-link" href="/#pricing">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->
  <center>

  
  <!-- H E R O --> <br><br><br>
  <div class="content container" style="text-align: left;" ><br>
    {% block body %}
    {% endblock %}

  </div>
  <style>
    body{
      font-family: 'Euclid Circular B', sans-serif;
      color:black
    }
  </style>

</center>
  <!--  F O O T E R  -->
  <footer>
    <div class="container" style="width:100%">
      <center>
      <div class="row" style="width:100%">
        
        <div class="col">
          <h5 style="text-align: left;">Kentel</h5>
          <p>Don't hesitate to contact us if you have any questions in your mind. We're always here to help you!</p>
          
        </div>
        <div class="col" >
          <h5 style="text-align: left;">More links</h5>
          <p><a href="/about">About Us</a></p>
          <p><a href="/faq">Frequently Asked Questions</a></p>
        </div>
      </div> 
      <div class="divider"></div>
      <div class="row">
        <div class="col " style="text-align: left;" >

            <a href="https://www.linkedin.com/company/kentel-dev"><i class="icon ion-logo-linkedin"></i></a>
            <a href="https://twitter.com/kentel_dev"><i class="icon ion-logo-twitter"></i></a>
            <a href="https://www.youtube.com/@kentel_"><i class="icon ion-logo-youtube"></i></a>
            <a href="https://wa.me/447418355491"> <i class="icon ion-logo-whatsapp"></i></a>
            <a href="mailto:sales@kentel.dev"> <i><ion-icon name="mail"></ion-icon></i></a>
          </div>
          <div class="col col-xs-12">
            <small>2024 &copy; All rights reserved. Kentel LTD
          </div>
      </div>
    </div>
  </center>
  </footer>
  
</div>
  
  <style>
    img{
        border-radius: 10px;
    }
  </style>
  
  <!--  E N D  F O O T E R  -->
    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    

  </body>
</html>




