<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kentel Godmin</title>
    <link rel="shortcut icon" href="/static/images/godmin.png" type="image/png">
    <link rel="stylesheet" href="/static/css/godmin.css">
</head>
<body>
    <nav>
        <p>Godmin</p>

    </nav><br><br>
    <div class="container">
        <h1>Blog</h1>
        <div class="card">
            <div class="card-body">
                <form action="" method="POST">

                    <textarea name="content" id="" style="width:80%;height:400px;" placeholder="Content(HTML)"></textarea><br>
                    <input type="text" name="title" placeholder="title" class="form-control" style="width:80%"><br>
                    <input type="text" name="url" placeholder="URL extension for this article, post." class="form-control" style="width:80%"><br>
                    <input type="text" name="mainImage" placeholder="Image URL" class="form-control" style="width:80%"><br>
                    <input type="text" name="author" placeholder="Author Name" class="form-control" style="width:80%"><br>
                    <input type="text" name="description" placeholder="Description" class="form-control" style="width:80%"><br>
                    <select name="category" class="form-control" id="">
                        <option value="blog">Blog</option>
                        <option value="tutorial">Tutorial</option>
                    </select><br>
                    <button type="submit">Post</button>

                    
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>