<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kentel Godmin</title>
    <link rel="shortcut icon" href="/static/images/godmin.png" type="image/png">
    <link rel="stylesheet" href="/static/css/godmin.css">
</head>
<body>
    <nav>
        <p>Godmin</p>

    </nav><br><br>
    <div>
        <center>
            <div class="card">
                <h4>Log In</h4>
                <form action="" method="POST">
                    <input type="password" name="email" placeholder="Password 1"><br><br>
                    <input type="password" name="password" placeholder="Password 2"><br><br>
                    <button>Take me in</button>
                </form>
            </div>
        </center>
    </div>
    
</body>
</html>