<html>
<body>
    <div style = "font-family: -apple-system, BlinkMacSystemFont, sans-serif;">
        <a href="https://kentel.dev"><img src="https://kentel.dev/static/img/ml/-id-.png"></a><br>
        <p style="font-weight: 600;font-size:22px">Signal changes from your portfolio</p>
        <hr>
        -content-
        <br><br><br>
        <a style="border:0px;background: #4285F4;padding:10px;border-radius: 5px;color:white;text-decoration:none" href="https://kentel.dev/portfolio">See your portfolio</a>
        <hr>
        <p style="font-size:12px;font-weight: 100;">Note: AI may give different results with different prices even in the same day, make your research well before entering to any position. Also we suggest you to use filters while trading. It is also beneficial to technically analyse the stock yourself.</p>
        <hr>
        Kentel &copy; 2024<br>
        -date-
    </div>
</body>
</html>