<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We can't find what you are looking for - Kentel</title>
    <meta name="robots" content="noindex">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> 
    
</head>
<body>
    <center>
        <div class="centerit">

            <h1>404</h1>
            <h1>We couldn't find what you were looking for </h1> <br>
            <ion-button onclick="window.location.assign('/')">Go to home</ion-button>
        </div>
    </center>
    <style>
        .centerit{
            position: fixed;
            top:40%;
            bottom:40%;

            left: 15%;
            right:15%;
            width: 70%;


        }
        body{
            margin:0;
            padding:0;
            font-family: 'Roboto', sans-serif;
        }
        h1{
            font-weight: 300;
        }
    </style>
    <script src="/static/js/logo.js"> </script>
</body>
</html>