<!doctype html>
<html lang="en-US">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXFPT2TM2X"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YXFPT2TM2X');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>About Us - Kentel</title>
    <meta name="description" content="Learn more about Kentel">
    <meta name="keywords" content="Kentel, AI, stock predictions, finance technology, stock market, artificial intelligence">
    
  </head>

  <body> 
    
  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    <img src="/static/images/logo.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<img src="/static/images/logo.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/#marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/login">Sign In <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link btn btn-demo-small">
            <a class="nav-link" href="/#pricing">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->
  
  <!-- H E R O -->
  <section class="container">
    <center>
        <h1>Where trading is simpler</h1>
    </center>
    <p style="word-wrap: break-word; white-space: pre-wrap;font-size:20px">
Welcome to Kentel, where we delve into the boundless realm of possibilities. We are the trailblazers of predictions and the architects of opportunity, dedicated to empowering everyday individuals to forge their path to wealth without the burden of deciphering technical jargon.


<img src="/static/images/tabletprofit.jpg" style="max-width: 100%;">

At Kentel, we are driven by three core principles: usability, practicality, and profitability. We don't just follow the beaten path; we pioneer uncharted territories, sculpting the unimaginable into reality.

Based in the vibrant city of London, UK, Kentel is the brainchild of our visionary founder, Efe Akaröz. With sheer determination and a bootstrap approach, Efe single-handedly crafted this platform from scratch, defying all odds and resource constraints. His relentless passion continues to fuel our journey, reminding us that with unwavering determination, anything is achievable.

<img src="/static/images/aboutus2.png" style="max-width: 100%;">
 
Embracing the adage "Practice makes perfect," we are steadfast in our commitment to honing our skills in the intricate world of the stock market. Every day, we strive to refine our craft and engineer the ultimate platform for our users.

Join us on this exhilarating journey as we redefine the landscape of finance, one prediction at a time.</p> <br>
<center>
    <p class="nav-item nav-custom-link btn btn-demo-small">
        <a class="nav-link" href="/#pricing">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
    </p>
</center>
  </section>
  <!--  F O O T E R  -->
  <footer>
    <div class="container">
      <div class="row">
        
        <div class="col-md-3">
          <h5>Kentel</h5>
          <p>Contact us from this email for B2B products and in case of any questions.</p>
          <p><a href="mailto:sales@kentel.dev" class="external-links">sales@kentel.dev</a></p>
          <p><a href="https://wa.me/447418355491" class="external-links">Whatsapp Business</a></p>
        </div>
      </div> 
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-6 col-xs-12" style="display:none">
            <a href="#"><i class="icon ion-logo-facebook"></i></a>
            <a href="#"><i class="icon ion-logo-instagram"></i></a>
            <a href="#"><i class="icon ion-logo-twitter"></i></a>
            <a href="#"><i class="icon ion-logo-youtube"></i></a>
          </div>
          <div class="col-md-6 col-xs-12">
            <small>2024 &copy; All rights reserved. Kentel LTD
          </div>
      </div>
    </div>
  </footer>
  
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>
    function setCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }

  function eraseCookie(name) {   
      document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }

  function cookieConsent() {
      if (!getCookie('allowCookies')) {
        gc("toast").style.display = ""
      }
  }

 

  // load
  cookieConsent()


  
  function g(id){
    return document.getElementById(id)

  }
  function gc(classN){ 
    return document.getElementsByClassName(classN)[0]

  }
  g("btnAccept").addEventListener("click",function(){
    setCookie('allowCookies','1',7)
    gc("toast").style.display = "none";
  })
  g("btnDeny").addEventListener("click",function(){
    eraseCookie('allowCookies')
    gc("toast").style.display = "none";
  })




  </script>
  <style>
    img{
        border-radius: 10px;
    }
  </style>
  <!--  E N D  F O O T E R  -->
    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% if msg %}
    <script>
        alert("{{msg}}");
        window.history.pushState({}, document.title, "/" );

    </script>
    {% endif %}
    <script src="/static/js/mainCode.js"></script>
  </body>
</html>