{% extends "indbase.html" %}
  {% block head %}
    
    <!-- Required meta tags -->
   
    <title>About Us - Kentel</title>
    <meta name="description" content="Learn more about Kentel">
    <meta name="keywords" content="Kentel, AI, stock predictions, finance technology, stock market, artificial intelligence">
    <meta property="og:title" content="About Us - Kentel" />
    <meta property="og:description" content="Read more about Kentel" />
    <meta property="og:image" content="//kentel.dev/static/images/kentel_300x200.png" />
    <meta property="og:url" content="https://kentel.dev/about" />
    <title>About Us - Kentel</title>
{% endblock%}

  {% block body %}
  
  <!-- H E R O --> <br> <br>
  <section class="containerdiv container">
    <center>
        <h1 class="h1">Kentel, trading for everyone</h1>
    </center>
    <p style="word-wrap: break-word; white-space: pre-wrap;font-size:20px">
Welcome to Kentel, where we delve into the boundless realm of possibilities. We are the trailblazers of predictions and the architects of opportunity, dedicated to empowering everyday individuals to forge their path to wealth without the burden of deciphering technical jargon.


<img src="/static/images/tabletprofit.jpg" style="max-width: 100%;">

At Kentel, we are driven by three core principles: usability, practicality, and profitability. We don't just follow the beaten path; we pioneer uncharted territories, sculpting the unimaginable into reality.

Based in the vibrant city of London, UK, Kentel is the brainchild of our visionary founder, Efe Akaröz. With sheer determination and a bootstrap approach, Efe single-handedly crafted this platform from scratch, defying all odds and resource constraints. His relentless passion continues to fuel our journey, reminding us that with unwavering determination, anything is achievable.

<img src="/static/images/aboutus2.png" style="max-width: 100%;">
 
Embracing the adage "Practice makes perfect," we are steadfast in our commitment to honing our skills in the intricate world of the stock market. Every day, we strive to refine our craft and engineer the ultimate platform for our users.

Join us on this exhilarating journey as we redefine the landscape of finance, one prediction at a time.</p> <br>
<center>
    <p class="nav-item nav-custom-link btn btn-demo-small">
        <a class="nav-link" href="/#pricing">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
    </p>
</center>
  </section>
  <!--  F O O T E R  -->
 
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  
  <style>
    img{
        border-radius: 10px;
        width: 100%;
    }
    .containerdiv{
      max-width: 800px;
    
    }
  </style>
  <!--  E N D  F O O T E R  -->
    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
    <script src="/static/js/mainCode.js"></script>
    {%endblock%}