{% extends 'base.html' %}
{% block body %} <br> <br>
<ion-title>Stock Scan Archives</ion-title>
<center>

<br>
<ion-list style="width:80%;max-width: 800px;">
    {% for a in archiveStock %}
    <ion-item  onclick="window.location.assign('/archive/{{a['issueNumber']}}')"><strong>#{{a["issueNumber"]}}</strong><a id="{{a['issueNumber']}}"></a> <script> date_= new Date({{a['time']}}*1000);document.getElementById('{{a["issueNumber"]}}').innerHTML= date_;</script></ion-item>
    {% endfor %}
</ion-list>
</center>
<style>
    a{
        text-decoration: none;
        color:black;
        margin-left:10px
    }
</style>
{% endblock %}