{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block body %}
    {% if data["newbie"] %}



                    <!-- toggler -->
                    <button class="btn float-end" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                        <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                    </button><br><br> <br><br>
                    <center>
                    <div style="max-width: 70%;">
                        <h3>Before You Continue</h3>
                        <p style="text-align: left;">
                            Thank you for signing up to Kentel! We have a couple of advices and warnings for you to use this platform properly. We strongly suggest that you need to make your own research and analysis in order to make trading decisions. Also, this app is specifically designed for swing trading which means that it may be impractical to hold the companies' stocks for more than 2 weeks. Another warning is that as we saw on the analytics of this cutting edge technology, the recommendations tend to drop a little first before going up. Also you can find our courses about trading and technical analysis on the tutorials tab for free.
                        </p>
                        <br><ion-button onclick="window.location.assign('/notanewbie')" >Continue</ion-button>
                    </div>
                    </center>
                    
                    
                    

                

            

    {% else %}
    <p style="display: none;" id="date"></p>
        <div id="discover">
            <ion-title class="ion-margin">Discover <ion-button fill="clear"  onclick="loadScan()" style="margin-bottom:20px"><ion-icon name="refresh-outline" color="success"></ion-icon></ion-button></ion-title>

            <center>
            
            {% if data["plan"] == "standardM" %}
            <ion-select style="text-align:left"  class="lister" label="Select a Filter" label-placement="floating" id="filters">
                <ion-select-option value="defno" >No Filter</ion-select-option>
                {% for f in filters %}
                    <ion-select-option value="{{f['_id']}}">{{f["label"]}}</ion-select-option>
                {% endfor %}
                
            </ion-select>
            {% endif %}
            {% if data["plan"] == "basicM" %}
            <ion-select style="text-align:left" class="lister" label="Select a Filter" label-placement="floating" id="filters" value="def">
                
                
                <ion-select-option selected="selected" value="def">Kentel Base Filter - Mailing List</ion-select-option>
                
                
            </ion-select>
            {%endif%}
            
            <ion-list inset="true" id="discoverList" class="lister">
                
                <ion-item>
                    <ion-grid>
                        <ion-row>
                            <ion-col><strong>Company</strong></ion-col>
                            <ion-col><strong>Score</strong></ion-col>
                            <ion-col><strong>Accuracy</strong></ion-col>

                        </ion-row>
                    </ion-grid>
                </ion-item>

                  
            </ion-list><br><br>
            </center>
        </div>
        <div id="search" style="display:none">
            <h1>Search</h1>
            <ion-searchbar  id="entrySearch" animated="true" placeholder="Enter company"></ion-searchbar>
            <div style="overflow-y: scroll!important;">
                <ion-list inset="true" id="searchRecommend">
                  
                </ion-list><br><br>
            </div>
        </div>

        
          </div>
          <p id="openDiscover" style="display: none;"></p>
          <p id="openSearch" style="display: none;"></p>
    <style>
            button{
                background:none;
                border:0px solid#000;
                color:#4285F4;
            }
            
            #searchRecommend{
                overflow-y:auto; 
            }
            body{
                overflow-y:auto; 
            }
            .discoverGrid{
                display:grid;
                grid-template-columns: 25% 25% 25% 25%;
                width:100%;

            }
            .bold{
                font-weight: 500;
                font-size: 15px;
            }
            .transparent{
                background: none;
                border:0px;
            }
        </style>

        
            
    {% endif %}
{% endblock %}
{% block scripts %}
<script src="/static/js/home.js"></script>
{% endblock %}
