<!doctype html>
<html lang="en-US">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <title>Kentel</title>
  </head>

  <body>

  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>
    <img src="/static/images/logo.png" class="img-fluid nav-logo-mobile" alt="Company Logo">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="container">
      	<img src="/static/images/logo.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/login">Sign In <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link btn btn-demo-small">
            <a class="nav-link" href="#pricing">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- E N D  N A V B A R -->
  
  <!-- H E R O -->
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <img src="/static/images/iphone.png" class="img-fluid" alt="Demo image">
        </div>
        <div class="col-md-7 content-box hero-content">
          <span>75+%Prediction Accuracy</span>
          <h1>Stock Market innovation and the <b>Future of Trading</b></h1>
          <p>Get ahead of 90% of investors with Kentel.</p>
          <a href="#pricing" class="btn btn-regular">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  H E R O -->

  <!-- E N D  M A R K E T I N G -->
  <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <span>Daily Insight Report</span>
            <h2>Lastest Stock Scans in Your Inbox</h2>
            <p>Receive the lastest stock scans to your inbox every business day!</p>
            <a href="#pricing" class="btn btn-regular">Start Free Trial</a>
          </div>
        </div>
        <div class="col-md-6">
            <img  src="/static/images/demo-image.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  M A R K E T I N G -->


  
  <!-- P R I C I N G -->
  <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>Plans and Pricing</h2>
        <p>The best software to profit consistently.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 class="demo">Daily Insight</h3>
            <h6>$15</h6>
            <small>per month</small>
            <p>With 7 days trial</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Daily AI report</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Indvidual Search(15/day)</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>1 Filter</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>1 Daily Scan</li> <br>
              <br><br><br>
              
            </ul>
            <div class="text-center">
              <a href="/set/cookie?redirect=/signup&key=plan&value=basicM" class="btn btn-demo">Start free trial</a>
            </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="pricing-box" style="-webkit-box-shadow:0px 0px 50px 10px rgba(0,148,247,0.27);-moz-box-shadow: 0px 0px 50px 10px rgba(0,148,247,0.27);box-shadow: 0px 0px 50px 10px rgba(0,148,247,0.27);">
            <h3>Standard Version</h3>
            <h6>$60</h6>
            <small>per month</small>
            <p>Best tool to swingtrade</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Mailing List(optional) </li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited Scans</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Indvidual Stock Search(unlimited)</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>10+ filters</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Save to portfolio, watch stock</li><br>
            </ul>
            <div class="text-center">
              <a href="/set/cookie?redirect=/signup&key=plan&value=standardM" class="btn btn-buy">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 style="color:black;font-weight:300">Kentel Pro</h3>
            <h6>?</h6>
            <small>Coming Soon</small>
            <p>For day traders and professional investors</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Add Alarms</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Continious Signal Change notifications</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sell signals for portfolio</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Quarterly AI company analysis</li>
            </ul>
            <div class="text-center">
              <a href="#" style="background:black;" class="btn btn-buy disabled">Coming Soon!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  P R I C I N G -->

  <!-- C A L L  T O  A C T I O N -->
  <section id="call-to-action">
    <div class="container text-center">
      <h2>Increase your profit margin right now</h2>
      <div class="title-block">
        <p>Gain up to 30% every single month.</p>
        <a href="#" class="btn btn-regular">Get Started</a>
      </div>
    </div>
  </section>
  <!-- E N D  C A L L  T O  A C T I O N -->

  <!--  F O O T E R  -->
  <footer>
    <div class="container">
      <div class="row">
        
        <div class="col-md-3">
          <h5>Company</h5>
          <p>Contact us from this email for B2B products and in case of any questions.</p>
          <p><a href="mailto:sales@kentel.dev" class="external-links">sales@kentel.dev</a></p>
        </div>
      </div> 
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-6 col-xs-12" style="display:none">
            <a href="#"><i class="icon ion-logo-facebook"></i></a>
            <a href="#"><i class="icon ion-logo-instagram"></i></a>
            <a href="#"><i class="icon ion-logo-twitter"></i></a>
            <a href="#"><i class="icon ion-logo-youtube"></i></a>
          </div>
          <div class="col-md-6 col-xs-12">
            <small>2024 &copy; All rights reserved. Kentel LTD
          </div>
      </div>
    </div>
  </footer>
  <div class="fixed-bottom p-4">
    <div style="display:none" class="toast bg-dark text-white w-100 mw-100" role="alert" data-autohide="false">
        <div class="toast-body p-4 d-flex flex-column">
            <h4>Cookie Warning</h4>
            <p>
            This website stores data such as cookies to enable site functionality including analytics and personalization. By using this website, you automatically accept that we use cookies. 
            </p>
            <div class="ml-auto">
                <button type="button" class="btn btn-outline-light mr-3" id="btnDeny">
                    Deny
                </button>
                <button type="button" class="btn btn-light" id="btnAccept">
                    Accept
                </button>
            </div>
        </div>
    </div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>
    function setCookie(name,value,days) {
      var expires = "";
      if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
  }
  function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }

  function eraseCookie(name) {   
      document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  }

  function cookieConsent() {
      if (!getCookie('allowCookies')) {
        gc("toast").style.display = ""
      }
  }

 

  // load
  cookieConsent()


  
  function g(id){
    return document.getElementById(id)

  }
  function gc(classN){ 
    return document.getElementsByClassName(classN)[0]

  }
  g("btnAccept").addEventListener("click",function(){
    setCookie('allowCookies','1',7)
    gc("toast").style.display = "none";
  })
  g("btnDeny").addEventListener("click",function(){
    eraseCookie('allowCookies')
    gc("toast").style.display = "none";
  })




  </script>
  <!--  E N D  F O O T E R  -->
    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% if msg %}
    <script>
        alert("{{msg}}");
        window.history.pushState({}, document.title, "/" );

    </script>
    {% endif %}
    <script src="/static/js/mainCode.js"></script>
  </body>
</html>