<!doctype html>
<html lang="en-US">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXFPT2TM2X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-YXFPT2TM2X');
  </script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <!-- Custom Css -->
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

  <!-- Ionic icons -->
  <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

  <title>Kentel - Where everyone trades like a pro.</title>
  <link href="https://fonts.cdnfonts.com/css/euclid-circular-b" rel="stylesheet">
  <meta name="description"
    content="Kentel is a cutting-edge AI platform offering highly accurate stock predictions. Utilizing innovative technology and approaches, Kentel provides unparalleled insights into the stock market.">
  <meta name="keywords"
    content="Kentel, AI, stock predictions, finance technology, stock market, artificial intelligence">
  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://www.kentel.dev",
        "logo": "https://kentel.dev/static/images/dark.png",
        "email":"sales@kentel.dev",
        "name" : "Kentel",
        "sameAs" : ["https://www.youtube.com/@kentel_","https://twitter.com/kentel_dev","https://www.linkedin.com/company/kentel-dev"]
      }
    </script>
  <meta property="og:title" content="Kentel" />
  <meta property="og:description" content="Where everyone trades like a pro" />
  <meta property="og:image" content="//kentel.dev/static/images/kentel_300x200.png" />
  <meta property="og:url" content="https://kentel.dev" />
  <link href="https://fonts.cdnfonts.com/css/euclid-circular-a" rel="stylesheet">


</head>

<body>
  <style>
    #hero {
      min-height: 0px;
    }

    #hero2 {
      min-height: 0px;
    }

    #loader {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 1999;
      overflow: hidden;
      text-align: center;
      padding-top: 30vh;
      padding-bottom: 30vh;
      transition: 0.5s;
    }

    #loader img {
      width: 60%;
      max-width: 300px;

    }
  </style>
  <div id="loader">
    <img src="/static/images/dark.png" alt="Loading...">
  </div>
  <!-- N A V B A R -->
  <nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon ion-md-menu"></span>
    </button>

    <div class="img-fluid nav-logo-mobile" alt="Kentel">
      <b href="" class="kentelText">Kentel</b>
    </div>
    <div id="secondNav">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <br>
      <div class="container">
      	<div class="mything" alt="Kentel">
          <b href="" class="kentelText">Kentel</b>
        </div>
        <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/login">Sign In <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link ">
            <a class="nav-link" href="#pricing">Try for Free <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="collapse navbar-collapse" >
      <div class="container">
        <div class="mything" alt="Kentel">
          <b href="" class="kentelText">Kentel</b>
        </div>
        <ul class="navbar-nav ml-auto nav-left my2ndthing" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#marketing">Features <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>

          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="#pricing">Pricing <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          <li class="nav-item nav-custom-link">
            <a class="nav-link" href="/login">Sign In <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
          </li>
          
        </ul>
        <div class="rightButtonArea" style="width:max-content;position:absolute;right:5px;">
        <div class="kentelbtn solid"  onclick="window.location.assign('/#pricing')">
          <span>Try for Free</span>
        </div>
      </div>
      </div>
    </div>
    
  </nav>
  <!-- E N D  N A V B A R -->

  <!-- H E R O -->
  <section id="hero">
    <div class="container" style="width:100%;height:100vh">
    <div id="heroOverlay">

      
        <div class="row">
          <div class="col">
            <div class="content-box">
            <div class="vertCent">
              <span>80% Win Rate</span>
              <h1 style="color:black">Trading is <strong class="typed-text"></strong> <span class="cursor">&nbsp;</span>
              </h1>
            </div>
          </div>
          </div>
        </div>


    </div>
  </div>
  </section>
  <!-- E N D  H E R O -->

  <!-- E N D  M A R K E T I N G -->
  <section id="marketing">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <span>Daily Insight Report</span>
            <h1>Latest Stock Scans in Your Inbox</h1>
            <p>Receive emails from the <strong>only Stock Market AI</strong></p> <br>
            <a href="#pricing" class="kentelbtn solid">Try for Free</a>
          </div>
        </div>
        <div class="col-md-6">
          <img src="/static/images/demo-image.png" class="img-fluid" alt="Demo image">
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  M A R K E T I N G -->

  <section id="hero2" >
    <div class="container" style="height: 100vh;width:100%">
      <div style="position: absolute;top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);">
      <div class="row">

        <div>


          <h1>Discover your <b class="highlight">potential.</b></h1>
          <button onclick="window.location.assign('/#pricing')" class="kentelbtn blue">Try NOW!</button>
          <br>
          <br>


        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- P R I C I N G -->
  <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h1>Plans and Pricing</h1>
        <p>The best software to profit consistently.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 class="demo">Daily Insight</h3>
            <h6>$9.99</h6>
            <small>per month</small>
            <p>30 Days Free Trial</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Daily AI report</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Beginner Friendly</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Index Fund Warnings</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>Individual Search(15/day)</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>1 Filter</li>
              <li><i class="icon ion-md-checkmark-circle-outline demo"></i>1 Daily Scan</li> <br>
              <br><br><br>

            </ul>
            <div class="bottombutton text-center">
              <a href="/set/cookie?redirect=/signup&key=plan&value=basicM" style="width:100% !important;display: block;" class="kentelbtn solid">Try Now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Standard</h3>

            <h6>$29.99</h6>
            <small>per month</small>
            <p>30 Days Free Trial</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Mailing List(optional) </li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Unlimited Scans</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Index Fund Warnings</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Individual Stock Search(unlimited)</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>10+ filters</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Save to portfolio, watch stock</li><br>
            </ul>
            <div class="bottombutton text-center">
              <a href="/set/cookie?redirect=/signup&key=plan&value=standardM" style="width:100% !important;display: block;" class="kentelbtn blue">Try now!</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3 style="color:black;font-weight:300">Kentel Pro</h3>
            <h6>?</h6>
            <small>Coming Soon</small>
            <p>Contact Us </p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Add Alarms</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Continious Signal Change notifications</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Keywords explorer</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Sell signals for portfolio</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Quarterly AI company analysis</li>
            </ul>
            <div class="text-center bottombutton">
              <a href="#"  style="width:100% !important;display: block;background:rgba(9, 9, 9, 0.498);" class="kentelbtn solid disabled">Coming Soon!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  P R I C I N G -->

  <!-- C A L L  T O  A C T I O N -->
  <section id="call-to-action">
    <div class="container text-center">
      <h2>Increase your profit margin <b class="highlight">right now!</b></h2>
      <div class="title-block">
        <p>Gain up to 30% every single month.</p>
        <a href="/#pricing" class="btn btn-regular">Get Started</a>
      </div>
    </div>
  </section>
  <!-- E N D  C A L L  T O  A C T I O N -->

  <!--  F O O T E R  -->
  <footer>
    <div class="container" style="width:100%">
      <center>
        <div class="row" style="width:100%">

          <div class="col">
            <h5 style="text-align: left;">Kentel</h5>
            <p>Don't hesitate to contact us if you have any questions in your mind. We're always here to help you!</p>

          </div>
          <div class="col">
            <h5 style="text-align: left;">More links</h5>
            <p><a href="/about">About Us</a></p>
            <p><a href="/faq">Frequently Asked Questions</a></p>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col " style="text-align: left;">

            <a href="https://www.linkedin.com/company/kentel-dev"><i class="icon ion-logo-linkedin"></i></a>
            <a href="https://twitter.com/kentel_dev"><i class="icon ion-logo-twitter"></i></a>
            <a href="https://www.youtube.com/@kentel_"><i class="icon ion-logo-youtube"></i></a>
            <a href="https://wa.me/447418355491"> <i class="icon ion-logo-whatsapp"></i></a>
            <a href="mailto:sales@kentel.dev"> <i><ion-icon name="mail"></ion-icon></i></a>
          </div>
          <div class="col col-xs-12">
            <small>2024 &copy; All rights reserved. Kentel LTD
          </div>
        </div>
    </div>
    </center>
  </footer>
  <div class="fixed-bottom p-4"
    style="max-width: 500px; max-height: 200px;margin-bottom:10px;opacity: 0.8;border-radius: 20px;">
    <div style="display:none;" class="toast bg-dark text-white w-100 mw-100" role="alert" data-autohide="false">
      <div class="toast-body p-4 d-flex flex-column">
        <h4 style="font-size: 15px;">Cookie Warning</h4>
        <p>
          This website uses cookies. By using this website, you automatically accept that we use cookies.
        </p>
        <div class="ml-auto">
          <button type="button" style="display:none" class="btn btn-outline-light mr-3" id="btnDeny">
            Deny
          </button>
          <button type="button" class="btn btn-light" id="btnAccept">
            I Understand
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>
    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }

    function eraseCookie(name) {
      document.cookie = name + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    function cookieConsent() {
      if (!getCookie('allowCookies')) {
        gc("toast").style.display = ""
      }
    }



    // load
    setTimeout(cookieConsent, 3000)



    function g(id) {
      return document.getElementById(id)

    }
    function gc(classN) {
      return document.getElementsByClassName(classN)[0]

    }
    g("btnAccept").addEventListener("click", function () {
      setCookie('allowCookies', '1', 7)
      gc("toast").style.display = "none";
    })
    g("btnDeny").addEventListener("click", function () {
      eraseCookie('allowCookies')
      gc("toast").style.display = "none";
    })


    window.onload = function () {
      document.getElementById("loader").style.display = "none";
    }



    const typedTextSpan = document.querySelector(".typed-text");
    const cursorSpan = document.querySelector(".cursor");

    const textArray = ["simpler.", "easier.", "more accessible.", "more profitable."];
    const typingDelay = 200;
    const erasingDelay = 100;
    const newTextDelay = 2000; // Delay between current and next text
    let textArrayIndex = 0;
    let charIndex = 0;

    function type() {
      if (charIndex < textArray[textArrayIndex].length) {
        if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
        typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
        charIndex++;
        setTimeout(type, typingDelay);
      }
      else {
        cursorSpan.classList.remove("typing");
        setTimeout(erase, newTextDelay);
      }
    }

    function erase() {
      if (charIndex > 0) {
        if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
        typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex - 1);
        charIndex--;
        setTimeout(erase, erasingDelay);
      }
      else {
        cursorSpan.classList.remove("typing");
        textArrayIndex++;
        if (textArrayIndex >= textArray.length) textArrayIndex = 0;
        setTimeout(type, typingDelay + 1100);
      }
    }

    document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
      if (textArray.length) setTimeout(type, newTextDelay + 250);
    });
  </script>
  <style>
    .typed-text {
      font-weight: normal;
      color: #0e49f9;
    }

    .cursor {
      display: inline-block;
      background-color: #2a2929;
      margin-left: 0.1rem;
      width: 3px;
      animation: blink 1s infinite;
    }

    .cursor .typing {
      animation: none;
    }

    @keyframes blink {
      0% {
        background-color: #2a2a2a;
      }

      49% {
        background-color: #202020;
      }

      50% {
        background-color: transparent;
      }

      99% {
        background-color: transparent;
      }

      100% {
        background-color: #202020;
      }
    }
  </style>

  <!--  E N D  F O O T E R  -->
  <script src="/static/js/logo.js"></script>

  <!-- External JavaScripts -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  {% if msg %}
  <script>
    alert("{{msg}}");
    window.history.pushState({}, document.title, "/");

  </script>
  {% endif %}
  <script src="/static/js/mainCode.js"></script>
</body>

</html>