{% extends "indbase.html" %}
  {% block head %}
    
    <!-- Required meta tags -->
   

    <meta name="description" content="Log in to the revolutionary finance AI Kentel">
    <meta name="keywords" content="Kentel, login">
    <meta property="og:title" content="Login - Kentel" />
    <meta property="og:description" content="Kentel Login" />
    <meta property="og:image" content="//kentel.dev/static/images/kentel_300x200.png" />

    <title>Log In to Kentel</title>
{% endblock%}

{% block body %}






  
  <!-- H E R O -->



  <section   id="hero"style="width: 100%;">
    <center>


    <div class=" containerdiv mything logintop" >

        <div class="login">

          <span>Kentel</span>
          <h1>Sign In</h1>
          <br>
          

          <form action="" method="POST">
          	<input name="email" placeholder="E-Mail" class="form-control" required> <br>
          	<input name="password" placeholder="Password" type="password" class="form-control" required> <br>
          	<button href="" class="btn btn-regular">Sign In</button>
          </form>
        </div>
    </div>
  </center>
  </section>
  <!-- E N D  H E R O -->

    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% if err %}
    <script>
        alert("{{err}}");
        window.location.assign("/login")

    </script>
    {% endif %}
    <script type="text/javascript" src="/static/js/mainCode.js"></script>

    <style>
      #call-to-action{
        display: none;
      }
      section{
        height: 100vh;
        position:relative
      }
      input{
        width:100%;
      }
      form{
        text-align:center
      }

      .container{
        width:100%
      }
      .login{
        width:80%;
        max-width:800px;

        text-align: left;
      }
      .logintop{
        width: 100%;


      }
    </style>
{%endblock%}
  