{% extends "base.html" %}
{% block body %}
<br> <br>
    <ion-title class="margin">Notifications</ion-title>
    <br>
	<br>
    <form action="" method="POST">
	<center>
		<ion-card style="width:70%;max-width: 600px;text-align: left;padding:10px">
			<ion-card-header>
			  <ion-card-title>Daily Insight Email</ion-card-title>
			  <ion-card-subtitle>We suggest to keep your prefrence enabled.</ion-card-subtitle>
			</ion-card-header>
			<br>
			<ion-card-content>
				<ion-item>
					<ion-select color="success" name="notf" label="Daily Insight Email" placeholder="Select" >
					  <ion-select-option value="enabled">Enabled</ion-select-option>
					  <ion-select-option value="disabled">Disabled</ion-select-option>
					  
					</ion-select>
				  </ion-item> <br>

				  <ion-button  type="submit" color="success">Save</ion-button>
			</ion-card-content>
		  </ion-card>
	</center>

    
	</form>

    <style>
    	.switch {
		  position: relative;
		  display: inline-block;
		  width: 44px;
		  height: 20px;
		}

		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 12px;
		  width: 12px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color:var(--ion-color-success);
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px var(--ion-color-success);
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 20px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
    </style>
{% endblock %}
