{% extends "base.html" %}
{% block body %}
<br>
    <ion-title class="margin">Notifications</ion-title>
    <br>
	<br>
    <form action="" method="POST">
	<center>
    {% if data["plan"] == "basicM" %}

	<ion-list class="lister">
	<ion-item>
		<ion-grid>
			<ion-row>
				<ion-col>
					<a style="font-size:20px">Daily Insight Email</a>
				</ion-col>
				<ion-col>
					<label class="switch">
					<input type="checkbox" checked disabled>
					<span class="slider round"></span>
				</ion-col>
			</ion-row>
		</ion-grid>
		
		
		</label>
	</ion-item>
	<ion-item>
		<ion-grid>
			<ion-row>
				<ion-col>
					<a style="font-size:20px">Portfolio Notifications</a>
				</ion-col>
				<ion-col>
					<label class="switch">
					<input type="checkbox" disabled>
					<span class="slider round"></span>
				</ion-col>
			</ion-row>
		</ion-grid>
		
		
		</label>
	</ion-item>
	</ion-list>
	<br><br>
    {% endif %}
    {% if data["plan"] == "standardM" %}
    
    <ion-list class="lister">
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-text color="success" style="font-size:20px">Daily Insight Email</ion-text>
					</ion-col>
					<ion-col>
						<label class="switch">
						<input name="dailyInsight" type="checkbox" checked disabled>
						<span class="slider round"></span>
					</ion-col>
				</ion-row>
			</ion-grid>
			
			
			</label>
		</ion-item>
		<ion-item>
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-text color="success" style="font-size:20px">Portfolio Notifications</ion-text>
					</ion-col>
					<ion-col>
						<label class="switch">
						<input name="portfolioNot" type="checkbox" disabled>
						<span class="slider round"></span>
					</ion-col>
				</ion-row>
			</ion-grid>
			
			
			</label>
		</ion-item>
		</ion-list>
	<br><br>

	
    {% endif %}
</center>

    <script>
    	dailyInsight = "{{prefs["dailyInsight"]}}"
    	portfolioNot  = "{{prefs["portfolioNotifications"]}}"
    	if(dailyInsight == "True"){
			document.getElementsByName("dailyInsight")[0].checked = true;
    	}else{
			document.getElementsByName("dailyInsight")[0].checked = false;
    	}
    	if(portfolioNot == "True"){
			document.getElementsByName("portfolioNot")[0].checked = true;
    	}else{
			document.getElementsByName("portfolioNot")[0].checked = false;
    	}
    	function task(){
    		dv = document.getElementsByName("dailyInsight")[0].checked;
    		if (dv) {
    			document.getElementsByName("dailyInsight")[0].value = "on"
    		}else{
    			document.getElementsByName("dailyInsight")[0].value = "off"
    		}
    		dm = document.getElementsByName("portfolioNot")[0].checked;
    		if (dm) {
    			document.getElementsByName("portfolioNot")[0].value = "on"
    		}else{
    			document.getElementsByName("portfolioNot")[0].value = "off"
    		}

    	}
    	setInterval(task,500)


    </script>
	<center>
	<ion-button  type="submit" color="success">Save</ion-button>
	</center>
	</form>

    <style>
    	.switch {
		  position: relative;
		  display: inline-block;
		  width: 44px;
		  height: 20px;
		}

		.switch input { 
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 12px;
		  width: 12px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color:var(--ion-color-success);
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px var(--ion-color-success);
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 20px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
    </style>
{% endblock %}
