{% extends "indbase.html" %}
  {% block head %}
    
    <!-- Required meta tags -->
   

    <meta name="description" content="Recover your account">
    <meta name="keywords" content="Kentel, account recovery, kentel forgot password">
    <meta property="og:title" content="Login - Kentel" />
    <meta property="og:description" content="Kentel Login" />
    <meta property="og:image" content="//kentel.dev/static/images/kentel_300x200.png" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <title>Account Recovery - Kentel</title>
{% endblock%}

{% block body %}






  
  <!-- H E R O -->

  <section id="hero"  style="color:black;">
    <center>
    <div class="container">


        <div class=" content-box hero-content login" style="width:90%;max-width: 600px;text-align: left;border-radius:25px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding:40px;background:#fff">
          
          <h1>Create a new password</h1>

          <br>

          <form action="" method="POST" style="text-align: left;">

          	<ion-item style="background:none;">
              <ion-input  label="Password" label-placement="floating" name="password" type="password"  ></ion-input>
            </ion-item>
          	
            <br>
            <i style="font-size: 12px;margin-left:10px">Already know your password? <a href="/login">Log In</a></i> <br>
            <br> <br>
          	<button href="" style="margin-left:10px;" class="kentelbtn blue">Create</button>
          </form>
          
        </div>


    
    </div>
  </center>
  </section>
  <!-- E N D  H E R O -->

    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% if err %}
    <script>
        alert("{{err}}");
        window.location.assign("/login")

    </script>
    {% endif %}
    <script type="text/javascript" src="/static/js/mainCode.js"></script>

    <style>
      #call-to-action{
        display: none;
      }
      section{
        height: 100vh;
        position:relative
      }
      input{
        width:100%;
      }
      form{
        text-align:center
      }

      .container{
        width:100%
      }
      .login{
        width:80%;
        max-width:800px;

        text-align: left;
      }
      .logintop{
        width: 100%;


      }
      #tryforfree{
        display:none;
      }
    </style>
    <script src="/static/js/logo.js"></script>
{%endblock%}
  