{% extends "indbase.html" %}
  {% block head %}
    
    <!-- Required meta tags -->
   

    <meta name="description" content="Sign Up to the revolutionary finance AI Kentel">
    <meta name="keywords" content="Kentel, Sign Up, register, subscribe">
    <meta property="og:title" content="Sign Up - Kentel" />
    <meta property="og:description" content="Kentel Sign Up" />
    <meta property="og:image" content="//kentel.dev/static/images/kentel_300x200.png" />

    <title>Sign Up to Kentel</title>
{% endblock%}

{% block body %}






  
  <!-- H E R O -->



  <section id="hero">
    <center>
    <div class="container">


        <div class=" content-box hero-content login">
          <span>Kentel - {{planVisual}}<br> <i style="font-size:10px;text-decoration: underline;" onclick="window.location.assign('/#pricing')">Change Plan</i></span>
          <h1>Sign Up</h1>
          <br>

          <form action="" method="POST">
          	<input name="fullName" placeholder="Full Name" class="form-control" required> <br>
          	<input name="email" placeholder="E-Mail" class="form-control" required> <br>
          	<input name="password" minlength="8" placeholder="Password" type="password" class="form-control" required> <br>
            <div class="g-recaptcha" data-sitekey="6LczjW8pAAAAAI7QmmC-fmayrL-Nwz1BShHW0ki6"></div><br>
            <i style="font-size:10px;">By singing up, you agree to our <a href="/kentel-eula" target="_blank">End User License Agreement(EULA).</a> And accept daily mails for stock market(You can change from settings)</i> <br>
          	<button href="" class="btn btn-regular">Sign Up</button>
          </form>
          
        </div>


    </center>
    </div>
  </section>
  <!-- E N D  H E R O -->


  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!--  E N D  F O O T E R  -->
    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% if err %}
    <script>
        alert("{{err}}");
        window.location.assign("/signup")

    </script>
    {% endif %}  </body>
  </section>
  <!-- E N D  H E R O -->

    <script src="/static/js/logo.js"></script>

    <!-- External JavaScripts -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% if err %}
    <script>
        alert("{{err}}");
        window.location.assign("/login")

    </script>
    {% endif %}
    <script type="text/javascript" src="/static/js/mainCode.js"></script>

    <style>
      #call-to-action{
        display: none;
      }
      section{
        height: 100vh;
        position:relative
      }
      input{
        width:100%;
      }
      form{
        text-align:center
      }

      .container{
        width:100%
      }
      .login{
        width:80%;
        max-width:800px;

        text-align: left;
      }
      .logintop{
        width: 100%;


      }
    </style>
{%endblock%}
  
  
  