{% extends "base.html" %}
{% block head %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
<link rel="stylesheet" href="/static/css/stock.css">
{% endblock %}

{% block body %}
    <div id="discover"></div>
    <div id="search">
    <center>
    <div id="loading" style="width:100%;position: fixed;height:100vh;background:#fff;top:0;left:0; align-items: center;padding-top:30vh">

        <img  src="/static/images/loading.gif">
    </div></center>
    <div class="blackout hidden" id="blackout">
    </div>
    <div class="popup hidden" id="atpPopup" style="display: none;">
        <button class="transparent close" id="closePopup"><i class="fa-solid fa-xmark"></i></button>
        <h2>Add to portfolio</h2>
        <label for="price">Price</label>
        <input placeholder="Price" class="form-control" value='' name="price" id="stockPriceP" type="number"><br>
        <label for="shares">Shares</label>
        <input placeholder="Shares" class="form-control" value='1' name="shares" id="shares" type="number"><br>
        <button class="btn btn-primary bottomButton" onclick="addToPortfolio()">Add To Portfolio</button>
    </div>
    <div class="titleGrid">
         <br>
        <div>
        <h1 style="display:none">{{ticker}}</h1>
        <ion-title class="ion-margin">{{ticker}}  <ion-text style="color:; font-weight: 200;" id="price"></ion-text><ion-text style="color:; font-weight: 200;">$</ion-text></ion-title>
        <a class="ion-margin" style="color:green; font-size:12px" id="trend"><a id="trendIndicate"><ion-icon name="caret-up-outline"></ion-icon></a> <a style="color:green; font-size:12px" id="change"></a> <a style="color:gray;font-size:12px">Today</a></a>
        </div>
        <div>
            <button id="atp"><i class="fa-solid fa-plus"></i></button>
        </div>

    </div>
    <center>
        
    <div class="everything" style="max-width: 800px;width: 80%; text-align: left; ">
    





        <canvas id="chartMine" ></canvas>
    <br><br>
    <h3>AI Prediction</h3><br>
    <center>
    <div id="predictionPlace"><div id="buy"></div><div id="sell"></div></div>
    <div style="padding-left:15px;display:grid;grid-template-columns: 50% 50%">
        <div style="width:100%;text-align:center">
            <h4 id="predictionResult" style="color:red">92% Sell</h4>
        </div>
        <div style="width:100%;text-align:center">
            <h4 id="accuracy" style="color:#3880ff">74% Accuracy</h4>
        </div>
    </div>

</center>
    <br>
    <br>
    <br>
    <h3>Company Details</h3>
    
    <p style="font-weight: 400;font-size:12px; color:gray" id="companyName"></p>
    <p class="ion-margin" id="summary" style="font-weight: 400;font-size:12px; color:gray"></p>

    
    <br><br>
</div>
</div> <br><br>
</center>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/stock.js"></script>
{% endblock %}