{% extends "base.html" %}
{% block body %}
<br> <br>
<br>
<br>
<center>
    
    <ion-title class="ion-margin">Tutorial Center</ion-title>
    <p style="width:80%; max-width: 600px;">Hello thank you for visiting Kentel Tutorial Center. Our developers and course writers are doing their best to create quality content for the platform. We will inform you when the tutorial center is completed</p>

</center>

{% endblock %}
{% block scripts %}
<script src="/static/js/settings.js"></script>
{% endblock %}