<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kentel -  Verification</title>
</head>
<body style="margin:0;padding:0;">
	<a href="https://kentel.dev"><img src="https://kentel.dev/static/images/logo.png"></a>
	<div style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;padding-left:15px"><br>
		
		<h2>Verify</h2>
		<p>Use the code <strong>-code-</strong> for verification. <strong>Do not</strong> share this with anyone.</p><br><br>
		<p><a href="https://kentel.dev">Visit Kentel &copy;</a></p>
		<p>-date-</p><br><br>
	</div>
</body>
</html>